:root {
    /*BACKGROUND*/
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*COLOR PALLET*/
        /*primary colors*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
        /*Neutral*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);



    
}

.card-layout {
    background-color: white;
    position : absolute;
    left: 50%;
    top: 50%;
    height: 45vw;
    width: 30vw;
    transform: translate(-50%, -50%);
    box-shadow: 0px 30px 30px -30px var(--desaturated-blue);
    transition: 0.3s;
    border-radius: 15px;
}

.order-layout {

}

.button {

}